VITE_FIREBASE_API_KEY=AIzaSyDaTMKqnFbi390YLqMApX7KEu3xkEp9VV0
VITE_FIREBASE_AUTH_DOMAIN=movies-counter-4e1ad.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=movies-counter-4e1ad
VITE_FIREBASE_STORAGE_BUCKET=movies-counter-4e1ad.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=827192916661
VITE_FIREBASE_APP_ID=1:827192916661:web:081d48a686bea8900f9cfc
VITE_FIREBASE_MEASUREMENT_ID=G-GYDH3FDCWJ
